<div class="add-customer-container">

  <mat-card class="customer-card">

    <mat-card-header>

      <mat-card-title>
        {{ isEditMode ? 'Müşteri Düzenle' : 'Yeni Müşteri Ekle' }}
      </mat-card-title>

    </mat-card-header>



    @if (isLoading && isEditMode) {

      <div class="spinner-container">

        <mat-spinner diameter="40"></mat-spinner>

      </div>


    } @else {



      <form
        #customerForm="ngForm"
        (ngSubmit)="onSubmit(customerForm)">



        <mat-card-content class="form-content">



          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Adı
            </mat-label>

            <input
              matInput
              name="firstName"
              [(ngModel)]="customer.firstName"
              required>

          </mat-form-field>





          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Soyadı
            </mat-label>

            <input
              matInput
              name="lastName"
              [(ngModel)]="customer.lastName"
              required>

          </mat-form-field>






          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              E-posta
            </mat-label>

            <input
              matInput
              type="email"
              name="email"
              [(ngModel)]="customer.email"
              required
              (blur)="onEmailBlur()"
              (ngModelChange)="onEmailInput()">

            @if (showEmailError()) {
              <mat-error>{{ getEmailError() }}</mat-error>
            }

          </mat-form-field>






          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Telefon
            </mat-label>

            <input
              matInput
              name="phone"
              [(ngModel)]="customer.phone">

          </mat-form-field>






          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Yaş
            </mat-label>

            <input
              matInput
              type="number"
              name="age"
              min="18"
              [(ngModel)]="customer.age">

          </mat-form-field>







          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Şikayet Sayısı
            </mat-label>

            <input
              matInput
              type="number"
              name="complaintCount"
              min="0"
              [(ngModel)]="customer.complaintCount">

          </mat-form-field>







          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Geç Ödeme Durumu
            </mat-label>


            <mat-select
              name="hasLatePayments"
              [(ngModel)]="customer.hasLatePayments">


              <mat-option [value]="false">
                Hayır
              </mat-option>


              <mat-option [value]="true">
                Evet
              </mat-option>


            </mat-select>


          </mat-form-field>








          <!-- ÖDEME TİPİ -->


          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Ödeme Tipi
            </mat-label>


            <mat-select
              name="paymentType"
              [(ngModel)]="customer.paymentType">


              <mat-option value="POSTPAID">

                Faturalı (POSTPAID)

              </mat-option>


              <mat-option value="PREPAID">

                Ön Ödemeli (PREPAID)

              </mat-option>


            </mat-select>


          </mat-form-field>









          <!-- BAKİYE SADECE PREPAID -->


          @if(customer.paymentType === 'PREPAID'){


          <mat-form-field appearance="outline" class="full-width">


            <mat-label>
              Başlangıç Bakiyesi
            </mat-label>


            <input

              matInput

              type="number"

              name="balance"

              min="0"

              [(ngModel)]="customer.balance">


          </mat-form-field>


          }









          <!-- TAAHHÜT BİLGİLERİ -->


          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Taahhüt Başlangıç Tarihi
            </mat-label>

            <input
              matInput
              type="date"
              name="contractStartDate"
              [(ngModel)]="customer.contractStartDate">

          </mat-form-field>





          <mat-form-field appearance="outline" class="full-width">

            <mat-label>
              Taahhüt Süresi (Ay)
            </mat-label>

            <input
              matInput
              type="number"
              name="contractDuration"
              min="1"
              [(ngModel)]="customer.contractDuration">

          </mat-form-field>





          <!-- MÜŞTERİ DURUMU -->


          <mat-form-field appearance="outline" class="full-width">


            <mat-label>
              Durum
            </mat-label>


            <mat-select

              name="status"

              [(ngModel)]="customer.status">



              <mat-option value="ACTIVE">

                Aktif

              </mat-option>



              <mat-option value="SUSPENDED">

                Askıya Alınmış

              </mat-option>


            </mat-select>


          </mat-form-field>






        </mat-card-content>







        <mat-card-actions>


          <button

            mat-button

            type="button"

            routerLink="/customers">


            İptal


          </button>







          <button

            mat-raised-button

            color="primary"

            type="submit"

            [disabled]="customerForm.invalid || isLoading">



            {{ isLoading ? 'Kaydediliyor...' : 'Kaydet' }}



          </button>



        </mat-card-actions>






      </form>



    }



  </mat-card>



</div>