.detail-container {

  padding: 20px;

  width: 100%;

  box-sizing: border-box;

}



mat-card {

  width: 100%;

  box-sizing: border-box;

  border-radius: 18px;

  padding: 10px;

  box-shadow:
    0 8px 25px rgba(0,0,0,.08);

}





mat-card-title {

  font-size: 26px;

  font-weight: 800;

  color: #1e293b;

}





mat-card-content p {

  margin: 10px 0;

  font-size: 15px;

}





strong {

  color: #334155;

}





mat-divider {

  margin: 25px 0;

}





/* Risk Badge */


.risk-badge {

  padding: 6px 14px;

  border-radius: 20px;

  font-weight: bold;

  margin-left: 10px;

  display: inline-block;

}





/* Tarife Kartları */


mat-card mat-card {

  background: #f8fafc;

  border-radius: 14px;

  box-shadow:

    0 4px 15px rgba(0,0,0,.06);

}





h3 {

  font-size: 20px;

  font-weight: 700;

  color: #1e293b;

  margin-bottom: 15px;

}





/* Aktif Pasif Durumu */


.active {

  color: #16a34a;

  font-weight: bold;

}





.passive {

  color: #dc2626;

  font-weight: bold;

}





/* Fatura Tablosu */


.invoice-table {

  width: 100%;

  margin-top: 20px;

  border-collapse: collapse;

}





.invoice-table th {

  background: #f1f5f9;

  font-weight: 700;

}





.invoice-table th,

.invoice-table td {

  text-align: left;

  padding: 12px 16px;

  border-bottom: 1px solid #e2e8f0;

}





.invoice-table tr:hover {

  background: #f8fafc;

}





/* Butonlar */


button {

  border-radius: 10px;

}





.mat-mdc-form-field {

  width:100%;

}