.sidenav-container {

  height:100vh;

  background:#e8eef7;

}



.sidebar-width {

  width:240px;

  background:linear-gradient(
    180deg,
    #2563eb,
    #8b5cf6
  );

  border-radius:0;

  overflow:hidden;

}



.content-wrapper {


  padding:20px;


  box-sizing:border-box;


}