<mat-card>


  <mat-card-header>


    <mat-card-title>
      Müşteriler
    </mat-card-title>


    <span style="flex: 1 1 auto;"></span>



    <button
      mat-raised-button
      color="primary"
      *appHasRole="'ROLE_ADMIN'"
      (click)="exportExcel()">


      <mat-icon>
        download
      </mat-icon>


      Excel İndir


    </button>


  </mat-card-header>





  <mat-card-content>




    <div class="filter-area">



      <mat-form-field appearance="outline">


        <mat-label>
          Müşteri Ara
        </mat-label>


        <input

          matInput

          [(ngModel)]="searchText"

          (input)="applyFilter()"

          placeholder="Name, email...">


      </mat-form-field>





      <mat-form-field appearance="outline">


        <mat-label>
          Risk Filtresi
        </mat-label>



        <mat-select

          [(ngModel)]="selectedRisk"

          (selectionChange)="filterRisk()">



          <mat-option value="ALL">
            Tümü
          </mat-option>



          <mat-option value="HIGH">
            Yüksek
          </mat-option>



          <mat-option value="MEDIUM">
            Orta
          </mat-option>



          <mat-option value="LOW">
            Düşük
          </mat-option>



        </mat-select>


      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>
          Ödeme Tipi
        </mat-label>

        <mat-select
          [(ngModel)]="selectedPaymentType"
          (selectionChange)="filterPaymentType()">
          <mat-option value="ALL">Tümü</mat-option>
          <mat-option value="PREPAID">Ön Ödemeli</mat-option>
          <mat-option value="POSTPAID">Faturalı</mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>
          Ödeme Durumu
        </mat-label>

        <mat-select
          [(ngModel)]="selectedInvoiceStatus"
          (selectionChange)="filterInvoiceStatus()">
          <mat-option value="ALL">Tümü</mat-option>
          <mat-option value="UNPAID">Ödemesi Bekleyen</mat-option>
          <mat-option value="PAID">Ödemesi Tamam</mat-option>
        </mat-select>

      </mat-form-field>



    </div>







    <div

      *ngIf="isLoading"

      style="display:flex; justify-content:center; padding:20px;">



      <mat-spinner></mat-spinner>


    </div>







    <table


      mat-table

      [dataSource]="dataSource"

      matSort

      class="mat-elevation-z8"


      *ngIf="!isLoading">







      <ng-container matColumnDef="id">


        <th

          mat-header-cell

          *matHeaderCellDef

          mat-sort-header>


          ID


        </th>



        <td

          mat-cell

          *matCellDef="let element">


          {{element.id}}


        </td>


      </ng-container>







      <ng-container matColumnDef="firstName">


        <th

          mat-header-cell

          *matHeaderCellDef

          mat-sort-header>


          Ad


        </th>



        <td

          mat-cell

          *matCellDef="let element">



          <button

            mat-icon-button

            color="accent"

            (click)="detailCustomer(element.id)">



            <mat-icon>

              visibility

            </mat-icon>



          </button>



          {{element.firstName}}


        </td>


      </ng-container>








      <ng-container matColumnDef="lastName">


        <th

          mat-header-cell

          *matHeaderCellDef>


          Soyad


        </th>



        <td

          mat-cell

          *matCellDef="let element">


          {{element.lastName}}


        </td>


      </ng-container>








      <ng-container matColumnDef="email">


        <th

          mat-header-cell

          *matHeaderCellDef>


          Email


        </th>



        <td

          mat-cell

          *matCellDef="let element">


          {{element.email}}


        </td>


      </ng-container>








      <ng-container matColumnDef="phone">


        <th

          mat-header-cell

          *matHeaderCellDef>


          Telefon


        </th>



        <td

          mat-cell

          *matCellDef="let element">


          {{element.phone}}


        </td>


      </ng-container>








      <ng-container matColumnDef="paymentType">


        <th
          mat-header-cell
          *matHeaderCellDef>


          Ödeme Tipi


        </th>



        <td
          mat-cell
          *matCellDef="let element">


          {{ element.paymentType === 'PREPAID' ? 'Ön Ödemeli' : 'Faturalı' }}


        </td>


      </ng-container>





      <ng-container matColumnDef="balance">


        <th
          mat-header-cell
          *matHeaderCellDef>


          Bakiye


        </th>



        <td
          mat-cell
          *matCellDef="let element">


          <span *ngIf="element.paymentType === 'PREPAID'">
            {{ element.balance | money }}
          </span>

          <span *ngIf="element.paymentType !== 'PREPAID'">-</span>


        </td>


      </ng-container>





      <ng-container matColumnDef="status">


        <th
          mat-header-cell
          *matHeaderCellDef>


          Durum


        </th>



        <td
          mat-cell
          *matCellDef="let element">


          <span
            class="status-badge"
            [class.status-suspended]="element.status === 'SUSPENDED'">

            {{ getStatusLabel(element.status) }}

          </span>


        </td>


      </ng-container>





      <ng-container matColumnDef="riskStatus">


        <th

          mat-header-cell

          *matHeaderCellDef>


          Risk


        </th>



        <td

          mat-cell

          *matCellDef="let element">



          <span

            class="risk-badge"


            [class.high]="element.riskStatus === 'HIGH'"



            [class.medium]="element.riskStatus === 'MEDIUM'"



            [class.low]="element.riskStatus === 'LOW'">



            {{ getRiskLabel(element.riskStatus) }}



          </span>



        </td>


      </ng-container>








      <ng-container matColumnDef="actions">


        <th

          mat-header-cell

          *matHeaderCellDef>


          İşlemler


        </th>



        <td

          mat-cell

          *matCellDef="let element">



          <button

            mat-icon-button

            color="primary"

            *appHasRole="'ROLE_ADMIN'"

            (click)="editCustomer(element.id)">



            <mat-icon>

              edit

            </mat-icon>



          </button>







          <button

            mat-icon-button

            color="warn"

            *appHasRole="'ROLE_ADMIN'"

            (click)="deleteCustomer(element.id)">



            <mat-icon>

              delete

            </mat-icon>



          </button>



        </td>


      </ng-container>









      <tr

        mat-header-row

        *matHeaderRowDef="displayedColumns">


      </tr>





      <tr

        mat-row

        *matRowDef="let row; columns: displayedColumns;"
        [class.suspended-row]="row.status === 'SUSPENDED'">


      </tr>





    </table>







    <mat-paginator

      [pageSize]="25"

      [pageSizeOptions]="[10, 25, 50, 100]"

      showFirstLastButtons>



    </mat-paginator>





  </mat-card-content>


</mat-card>