mat-card {

  background: white;

  border-radius: 18px;

  padding: 15px;

  box-shadow:
    0 8px 25px rgba(0,0,0,.08);

}



mat-card-title {

  color: #1e293b;

  font-size: 24px;

  font-weight: 800;

}



table {

  width: 100%;

  margin-top: 20px;

}



th.mat-mdc-header-cell {

  background: #eef2ff;

  color: #2563eb;

  font-weight: 700;

}



td.mat-mdc-cell {

  color: #334155;

}



tr.mat-mdc-row {

  transition: .2s;

}



tr.mat-mdc-row:hover {

  background: #eff6ff;

}



/* Düzenle */

button[color="primary"] {

  color: #2563eb;

}



button[color="primary"]:hover {

  background: #dbeafe;

}



/* Sil */

button[color="warn"] {

  color: #ef4444;

}



button[color="warn"]:hover {

  background: #fee2e2;

}



/* ikon animasyon */

button[mat-icon-button] {

  transition: .2s;

}



button[mat-icon-button]:hover {

  transform: scale(1.1);

}



/* Risk renkleri */

.risk-badge {

  padding: 6px 14px;

  border-radius: 20px;

  font-weight: bold;

  display: inline-block;

}



.risk-badge.high {

  background-color: #ffcccc;

  color: #d32f2f;

}



.risk-badge.medium {

  background-color: #ffe0a3;

  color: #ff9800;

}



.risk-badge.low {

  background-color: #c8f7c5;

  color: #2e7d32;

}