html,
body {

  height:100%;

}


body {

  margin:0;

  font-family:Roboto, Arial, sans-serif;

  background:#e8eef7;

}



/* Material kart genel */

.mat-mdc-card {

  border-radius:18px !important;

}