<div class="dashboard-container">


  <h2>
    CRM Gösterge Paneli
  </h2>




  <div
    *ngIf="isLoading"
    class="loading">


    <mat-spinner></mat-spinner>


  </div>







  <div
    class="card-grid"
    *ngIf="!isLoading">





    <!-- CUSTOMERS -->


    <mat-card
      class="metric-card total"
      (click)="toggleCustomers()">



      <mat-icon>
        people
      </mat-icon>


      <div>


        <h3>
          Müşteriler
        </h3>


        <p>
          {{totalCustomers}}
        </p>


      </div>


    </mat-card>









    <!-- INVOICES -->


    <mat-card
      class="metric-card standard"
      (click)="toggleInvoices()">



      <mat-icon>
        receipt_long
      </mat-icon>


      <div>


        <h3>
          Faturalar
        </h3>


        <p>
          {{totalInvoices}}
        </p>


      </div>


    </mat-card>




  </div>













  <!-- CUSTOMER AÇILAN ALAN -->


  <div
    class="detail-section"
    *ngIf="customersOpen">



    <h3>
      Müşteri İstatistikleri
    </h3>





    <div class="mini-grid">



      <div class="mini-card danger">


        <span>
          Yüksek Risk
        </span>


        <b>
          {{highRiskCustomers}}
        </b>


      </div>





      <div class="mini-card medium">


        <span>
          Orta Risk
        </span>


        <b>
          {{mediumRiskCustomers}}
        </b>


      </div>





      <div class="mini-card low">


        <span>
          Düşük Risk
        </span>


        <b>
          {{lowRiskCustomers}}
        </b>


      </div>



    </div>







    <div class="charts">


      <mat-card class="chart-card">


        <h3>
          Risk Dağılımı
        </h3>


        <canvas

          baseChart

          [data]="riskChartData"

          [type]="riskChartType">


        </canvas>


      </mat-card>







      <mat-card class="chart-card">


        <h3>
          Yaş Dağılımı
        </h3>



        <canvas

          baseChart

          [data]="ageChartData"

          [type]="ageChartType">


        </canvas>


      </mat-card>



    </div>



  </div>













  <!-- INVOICE AÇILAN ALAN -->


  <div
    class="detail-section"
    *ngIf="invoicesOpen">



    <h3>
      Fatura İstatistikleri
    </h3>







    <div class="mini-grid">



      <div class="mini-card total">


        <span>
          Toplam Fatura
        </span>


        <b>
          {{totalInvoices}}
        </b>


      </div>






      <div class="mini-card low">


        <span>
          Ödenen
        </span>


        <b>
          {{paidInvoices}}
        </b>


      </div>






      <div class="mini-card danger">


        <span>
          Ödenmeyen
        </span>


        <b>
          {{unpaidInvoices}}
        </b>


      </div>






      <div class="mini-card standard">


        <span>
          Beklenen Gelir
        </span>


        <b>
          {{ expectedRevenue | money }}
        </b>


      </div>






      <div class="mini-card low">


        <span>
          Tahsil Edilen
        </span>


        <b>
          {{ collectedRevenue | money }}
        </b>


      </div>






      <div class="mini-card danger">


        <span>
          Bekleyen
        </span>


        <b>
          {{ pendingRevenue | money }}
        </b>


      </div>




    </div>








    <mat-card class="chart-card invoice-chart">


      <h3>
        Fatura Durumu
      </h3>



      <canvas

        baseChart

        [data]="invoiceChartData"

        [type]="invoiceChartType">


      </canvas>



    </mat-card>




  </div>






</div>